---
import type { MarkdownInstance } from 'astro';

const { essays, series } = Astro.props;
let _essays = essays as MarkdownInstance<Record<string, any>>[]
---
<div>
    <h3 class='font-bold'>{series}</h3>
    {(_essays || []).map(essay => (
        <a href={essay.url} class='text-gray-700 dark:text-[#ecf2ff]'>
            {essay.frontmatter.title}
        </a>
    ))}
</div>