---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout subTitle='ABOUT'>
	<p>Hi, I'm Kobayashi, a front-end developer. You can find me on
		<a target='_blank' href='https://twitter.com/danzzzz11'>Twitter</a> or
		<a target='_blank' href='https://github.com/KamiC6238'>GitHub</a>.
	</p>
	<p>The purpose of creating this blog is to be able to record my thoughts and ideas, not limited to technology.</p>
	<p>In short, thank you for reading this far.</p>
</BaseLayout>