---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout subTitle='ABOUT'>
	<section>
		<p>Hi, I'm Kobayashi, a front-end developer. You can find me on
			<a target='_blank' href='https://twitter.com/danzzzz11'>Twitter</a> or
			<a target='_blank' href='https://github.com/KamiC6238'>GitHub</a>.
		</p>
		<p>The purpose of creating this blog is to be able to record my thoughts and ideas, not limited to technology.</p>
		<p>In short, thank you for reading this far.</p>
	</section>

	<br />

	<h2 class='font-bold text-lg mb-3'>关于我</h2>
	<section>你好，我是 Kobayashi，现在是一名前端开发者，你可以在
		<a target='_blank' href='https://twitter.com/danzzzz11'>Twitter</a> 或者
		<a target='_blank' href='https://github.com/KamiC6238'>GitHub</a> 上找到我。
	</section>

	<br />

	<section>
		<p>建立这个博客的原因比较简单，“我想记录些什么，并希望能以此认识一些朋友”。</p>
		<p>虽然也会有技术相关的文章，但这并不是一个以技术为主的博客，就像我说的那样，我更希望这是其他人认识我的最初途径。</p>
		<br />
		<p>如果博客里的内容对你有所帮助，可以选择发送一封感谢信到我的邮箱 (<strong>danzzzzsama@gmail.com</strong>)。</p>
	</section>
</BaseLayout>