---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout subTitle='ABOUT'>
	<p>Hi, I'm Kobayashi, a front-end developer. You can find me on
		<a target='_blank' href='https://twitter.com/danzzzz11'>Twitter</a> or
		<a target='_blank' href='https://github.com/KamiC6238'>GitHub</a>.
	</p>
	<p>The purpose of creating this blog is to be able to record my thoughts and ideas, not limited to technology.</p>
	<p>In short, thank you for reading this far.</p>

	<br />

	<h2 class='font-bold text-lg mb-3'>关于我</h2>
	<p>你好，我是陈凯航，于 2020 年本科毕业于「华南理工大学广州学院」，现在是一名前端开发者，你可以在
		<a target='_blank' href='https://twitter.com/danzzzz11'>Twitter</a> 或者
		<a target='_blank' href='https://github.com/KamiC6238'>GitHub</a> 上找到我。
	</p>

	<br />

	<p>建立这个博客的初衷是希望自己能够将所思所想记录下来，并且分享给其他人。如果博客里的内容对你有所帮助，可以选择发送一封感谢信到我的邮箱 (<strong>kobayashi007@qq.com</strong>)，我也会为此感到开心的。</p>
</BaseLayout>