---
import BaseLayout from '../layouts/BaseLayout.astro';
import EssaysWrapper from './components/essays.astro';

const allEssays = await Astro.glob('./essays/*.md');
const nodeEssays = filterEssay('node');
const viteEssays = filterEssay('vite');
const reactEssays = filterEssay('react');

console.log(allEssays)

function filterEssay(tag: string) {
    return allEssays.filter(essay => essay.frontmatter.tag === tag);
}
---

<BaseLayout subTitle='ESSAYS'>
    <div class='flex flex-col'>
        <EssaysWrapper series='Node' essays={nodeEssays} />
        <EssaysWrapper series='Vite' essays={viteEssays} />
        <EssaysWrapper series='React' essays={reactEssays} />
    </div>
</BaseLayout>
