---
import BaseLayout from '../layouts/BaseLayout.astro';
import EssaysWrapper from './components/essays.astro';
import { EssayTags } from '../constants';

const allEssays = await Astro.glob('./essays/**/*.md');

const essaysList = EssayTags.map(tag => ({
    series: tag,
    essays: filterEssay(tag),
}));

function filterEssay(tag: string) {
    return allEssays
        .filter(essay => essay.frontmatter.tag === tag)
        .sort((a, b) => b.frontmatter.order - a.frontmatter.order);
}
---

<BaseLayout subTitle='ESSAYS'>
    <div class='flex flex-col'>
        {essaysList.map(({series, essays}) => (
            <EssaysWrapper series={series} essays={essays} />
        ))}
    </div>
</BaseLayout>
