---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from './components/project.astro';
---

<BaseLayout subTitle='PROJECTS'>
    <Project href='https://github.com/KamiC6238/monaco-breakpoints' project='monaco-breakpoints'>
        <p>A type-safe library support breakpoints in monaco-editor like vscode.</p>
    </Project>
    <Project href='https://github.com/KamiC6238/blog' project='Blog'>
        <p>A blog developed using <a target='_blank' href='https://astro.build/'>Astro</a>.</p>
    </Project>
</BaseLayout>
